@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jolly+Lodger&display=swap');

body {
    font-family: "Jolly Lodger", system-ui;
    background: linear-gradient(135deg, rgb(247, 174, 126) 0%, rgb(206, 85, 5) 100%);
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding: 40px;
    border: 20px solid rgb(40, 20, 10);
    box-shadow: inset 0 0 60px rgba(0, 0, 0, 0.5);
}

#poster {
    border: 5px;
    border-style: solid;
    border-color: black;
    width: 600px;
    margin: auto;
    border-radius: 50px;
    box-shadow: 10px 5px 15px rgba(0, 0, 0, 0.5);
}

#moviename {
    font-family: "Bungee Spice";
    font-size: 80px;
    text-shadow: 4px 4px 0px black, 6px 6px 20px rgba(0, 0, 0, 0.6);
    margin-top: 10px;
    animation: wobble 3s ease-in-out infinite;
}

@keyframes wobble {

    0%,
    100% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(1.5deg);
    }
}

#fromthe {}

#shrek {
    width: 100px;
}

#sharktale {
    width: 100px;
}

#creators {
    font-style: italic;
    color: rgb(253, 230, 230);
}

.gallery 
{

}

.poster-wrap {
    position: relative;
    display: inline-block;
}

.poster-wrap::before 
{
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 500%;
    background: linear-gradient(120deg, rgba(255, 255, 255, 0.0) 40%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.0) 70%);
    transform: rotate(0deg);
    pointer-events: none;
    z-index: 5;
    mix-blend-mode: screen;
}